{% extends "base.html.twig" %}

{% block title %} Symrecipe - Acceuil {% endblock %}

{% block body %}
    
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur SymRecipe</h1>
            <p class="lead">Bienvenue sur Symrecip, notre site de création de recettes ! Nous sommes ravis de vous accueillir parmi nous et espérons que vous trouverez de nombreuses recettes inspirantes sur notre site. Que vous soyez un cuisinier expérimenté ou un débutant en cuisine, nous avons des recettes pour tous les niveaux et tous les goûts. N'hésitez pas à partager vos propres recettes et à laisser des commentaires pour aider les autres membres de notre communauté. Nous sommes impatients de voir ce que vous allez créer !</p>
            <hr class="my-4">
            <p>Pour commencer rendez vous sur la page d'inscripton, pour utiliser l'application.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Inscripton</a>
            </p>
        </div>
    </div>

{% endblock %}
